.home__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .game__link {
    margin-bottom: 15px;
  }
  .settings__link{
    margin-bottom: 15px;
  }

}
