.game__container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .gamers, .answer, .clear {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: 10px 0;

    .gamers__text, .answer__text, .clear__text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;
    }

    .gamers__input, .answer__group, .clear__button {
      width: 60% !important;
      max-width: 300px !important;
      text-align: center;
    }
  }
  .answer_show {
    img {
      width: 150px;
      height: 150px;
      color: grey;
    }
  }
  .start__game {
    margin-top: 20px;
  }
}
