.App {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/img/background-light.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  color: white;
  font-size: 1.2em;
  a {
    color: white;
    text-decoration: none;
  }
  .header {
    width: 100%;
    .header__page {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }
  }

  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
